name: Perform translation
on:
  workflow_dispatch:
    pull_request:
      branches:
        - master

jobs:
  sync-translations:
    runs-on: ubuntu-latest

    steps:
      - name: translate work goes here
        run: |
          echo "Head branch is: ${{ github.head_ref }}