name: Dispatch Crowdin callbacks to appropriate PR workflows
on:
  repository_dispatch:

jobs:
  dispatch-crowdin-callback:
    runs-on: ubuntu-latest
    steps:
      - name: Verify dispatch is from Crowdin
        run: |
          echo "We were called for project: ${{ github.event.client_payload.project_id }}"
          BRANCH=$(echo "${{ github.event.client_payload.file }}" | tr '/' '\n' | head -2 | tail -1)
          echo "On branch: ${BRANCH}"