name: Dispatch Crowdin callbacks to appropriate PR workflows
on:
  repository_dispatch:

jobs:
  dispatch-crowdin-callback:
    runs-on: ubuntu-latest
    env:
      PROJECT: ""
      BRANCH: ""
      BRANCH_ID: ""
      TRANSLATIONS_READY: 0
    steps:
      - name: Extract info from event
        run: |
          PROJECT="${{ github.event.client_payload.project_id }}"
          BRANCH=$(echo "${{ github.event.client_payload.file }}" | tr '/' '\n' | head -2 | tail -1)
          echo "We were called for project: ${PROJECT}"
          echo "On branch: ${BRANCH}"
          echo "PROJECT=${PROJECT}" >> $GITHUB_ENV
          echo "BRANCH=${BRANCH}" >> $GITHUB_ENV

      - name: Lookup branch ID
        run: |
          BRANCH_ID=$(curl -sH "Authorization: Bearer ${{ secrets.CROWDIN_PAT }}" "https://api.crowdin.com/api/v2/projects/451006/branches?name=${{ github.head_ref }}" | jq ".data[0].data.id")
          if [ "$BRANCH_ID" != "null" ]; then
            echo "BRANCH_ID=${BRANCH_ID}" >> $GITHUB_ENV
          fi

      - name: Verify translations complete
        run: |
          TRANSLATION_PROGRESS=$(curl -sH "Authorization: Bearer ${{ secrets.CROWDIN_PAT }}" "https://api.crowdin.com/api/v2/projects/${{ env.PROJECT }}/branches/${{ env.BRANCH_ID }}/languages/progress" | jq ".data[0].data.translationProgress")
          echo "Translation progress: ${TRANSLATION_PROGRESS}%"
          if [ "TRANSLATION_PROGRESS" == "100" ]; then
            echo "TRANSLATIONS_READY=1" >> $GITHUB_ENV
          fi

      - name: Dispatch to workflow
        run: |
          GITHUB_TOKEN=${{ secrets.GITHUB_TOKEN }} \
          gh workflow run crowdin-translate.yml --ref ${{ env.BRANCH }} --repo "${{ github.repository_owner }}/${{ github.repository }}"